<%= form_with model: [@profile, @post], local: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 p-4 rounded mb-4">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="editor mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl">
    <%= form.text_field :title,class: "title bg-gray-100 border border-gray-300 p-2 mb-4 outline-none",placeholder: "Title"  %>
    <%= form.text_area :content,class: "title bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none",placeholder: "Enter Content"  %>
    <div class="field mb-4">
      <%= form.label :tags, "Tags", class: "block mb-1" %>
      <%= form.text_field :tag_list, class: "form-control tag-selector bg-gray-100 border border-gray-300 p-2 outline-none", placeholder: "Add tags, separated by commas" %>
    </div>
    <div class="buttons flex mt-auto">
      <div class="btn border border-gray-300 p-1 px-4 font-semibold cursor-pointer text-gray-500 ml-auto">Cancel</div>
      <%= form.submit @post.new_record? ? "Create Post" : "Update Post", class: "btn border border-indigo-500 p-1 px-4 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500 hover:bg-indigo-600 transition duration-200 ease-in-out" %>
    </div>
  </div>
<% end %>